body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title{
  position: absolute;
width: 610px;
height: 144px;
left: 96px;
top: 143px;

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 112.2%;

/* or 72px */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #FFFFFF;
}